@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * Преобразование пикселей в em на основе переменной с базовым размером шрифта
 * (указывается в px) проекта.
 * @param  {number} $px Число без единиц измерения, кол-во пикселей
 * @param  {string} $font-size Число пикселей, размер конт. шрифта на проекте
 * @return {string} Результат преобразования $px в em на основе $font-size
 */

body {
    font-size: 17px;
    line-height: 1.5;
    font-family: sans-serif;
}

input:disabled {
    background-color: transparent;
}

textarea:disabled {
    background-color: transparent;
}

.page {
    background-color: #D3D3D3;
    padding: 50px 0;
}

.single-page-container {
    background-color: #fff;
    margin: 0 0 50px 0;
    padding: 50px 30px;
    border: 1px solid #7E7E7E;
}

.align-center {
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.header__img {
    max-width: 155px;
    width: 100%;
}

.header__h1 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.header__sub-h1 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.header__sub-title {
    font-size: 18px;
    text-transform: uppercase;
}

.sub-header {
    margin-bottom: 15px;
}

.sub-header__upper-title {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 38px;
}

.sub-header__upper-bold-title {
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.sub-header__upper-thin-title {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.sub-header__normal-title {
    font-size: 19px;
    text-transform: capitalize;
    text-align: center;
}

.prepaid-label {
    padding: 30px 15px;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    line-height: 1;
    font-size: 44px;
    text-transform: uppercase;
    text-align: center;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.align-item-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form {
    display: block;
    border: 1px solid #3333;
}

.form .col {
    min-height: 38px;
}

.form.form--2 label {
    text-transform: none;
}

.form__label {
    text-transform: uppercase;
}

.form label {
    display: block;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: 1px solid #3333;
    min-height: 38px;
}

.form__title-line {
    border-bottom: 1px solid #3333;
}

.form > .row > .col:not(:last-child) {
    border-right: 1px solid #3333;
}

.form > .row:not(:last-child) {
    border-bottom: 1px solid #3333;
}

.form input {
    display: block;
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    font: inherit;
    position: relative;
}

.form textarea {
    display: block;
    width: 100%;
    min-height: 100px;
    border: none;
    outline: none;
    padding: 5px;
    font: inherit;
    resize: none;
}

.form p {
    padding: 5px;
}

.form .lable-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form .lable-row label {
    border: none;
    white-space: nowrap;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.form__check-inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5px;
}

.form input[type="checkbox"] {
    width: 16px;
    height: 25px;
}

.form__input-bottom-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 5px;
}

.form__input-bottom-line input {
    padding: 0;
}

.form__input-underline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding: 5px;
}

.form__signature {
    border-bottom: 1px solid #000;
    width: 70px;
    margin-left: 10px;
}

.form__signature--full-width {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.form__signature-box {
    width: 70px;
    height: 60px;
}

.form__title-line {
    padding: 10px;
    text-align: center;
    font-weight: 700;
}

.form-col {
    border-bottom: 1px solid #3333;
}

.border-none {
    border: none !important;
}

.border-right {
    border-right: 1px solid #3333;
}

.border-left {
    border-left: 1px solid #3333;
}

.border-bottom {
    border-bottom: 1px solid #3333;
}

.bg-gray {
    background-color: #e3e3e3;
}

.signature-box {
    width: 120px;
    height: 60px;
}

.notice {
    padding: 5px;
    text-transform: uppercase;
    color: red;
}

.small-text {
    font-size: 11px;
    line-height: 1.5;
}

.send-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #292929;
    color: #fff;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 50px;
}

.flex-strech {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.red {
    border: 2px solid red !important;
}

.h70 {
    min-height: 70px !important;
}

.h95 {
    min-height: 95px !important;
}

.form-col {
    border-bottom: 1px solid #3333;
}

.border-none {
    border: none !important;
}

.border-right {
    border-right: 1px solid #3333;
}

.border-left {
    border-left: 1px solid #3333;
}

.border-bottom {
    border-bottom: 1px solid #3333;
}

@media print {
    body {
        font-size: 10px;
    }

    .header {
        width: 100%;
        display: table;
        display: table;
    }

    .header .col--img {
        width: 155px;
    }

    .header .col--title {
        width: calc(100% - 155px);
    }

    .sub-header {
        display: table;
        width: 100%;
    }

    ul,
  li,
  p {
        font-size: 13px;
        line-height: 1.66;
        margin-bottom: 15px;
    }

    ul,
  li {
        margin-bottom: 0;
        padding: 0;
    }

    .form {
        display: table;
        width: auto;
        background-color: #eee;
        border: 1px solid #666666;
        border-spacing: 5px;
    /* cellspacing:poor IE support for  this */
    }

    .row {
        display: table-row;
        width: auto;
        clear: both;
    }

    .col {
        float: left;
    /* fix for  buggy browsers */
        display: table-column;
        width: 200px;
    }

    .col-1 {
        width: 8.3333%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.3333%;
    }

    .col-6 {
        width: 50%;
    }

    .col-12 {
        width: 100%;
    }
}