@import './src/scss/reset.scss';
@import './src/scss/functions/functions.scss';
@import './src/scss/mixins/smart-grid.scss';
@import './src/scss/variables/variables.scss';


body {
	font-size: 17px;
	line-height: 1.5;
	font-family: sans-serif;

}

input:disabled {
  background-color: transparent;
}
textarea:disabled {
  background-color: transparent;
}

.page {
	background-color: #D3D3D3;
	padding: 50px 0;
}

.single-page-container {
	background-color: #fff;
	margin:  0 0 50px 0;
	padding: 50px 30px;
	border: 1px solid #7E7E7E;

}

.align-center {
	text-align: center;
}

img {
	display: block;
	width: 100%;
	height: auto;
}


.header {
	text-align: center;
	margin-bottom: 40px;

	&__img {
		max-width: 155px;
		width: 100%;
	}

	&__h1 {
		font-size: 35px;
		font-weight: 700;
		text-transform: uppercase;
	}


	&__sub-h1 {
		font-size: 22px;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__sub-title {
		font-size: 18px;
		text-transform: uppercase;
	}

}


.sub-header {

	margin-bottom: 15px;

	&__upper-title {
		font-size: 20px;
		text-transform: uppercase;
		line-height: 38px;
	}

	&__upper-bold-title {
		font-size: 23px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		
	}

	&__upper-thin-title {
		font-size: 24px;
		text-transform: uppercase;
		text-align: center;
		
	}

	&__normal-title {
		font-size: 19px;
		text-transform: capitalize;
		text-align: center;	
	}
}

.prepaid-label {
	padding: 30px 15px;
	border-bottom: 2px solid #000;
	border-top: 2px solid #000;
	line-height: 1;
	font-size: 44px;
	text-transform: uppercase;
	text-align: center;

}

.flex {
	display: flex;
}

.align-item-center{
	display: flex;
	align-items: center;
	justify-content: center;
}


.form {


	display: block;
	border: 1px solid #3333;

	.col {
		min-height: 38px;
	}


	&.form--2 label {
		text-transform: none;
	}

	

	&__label {
		text-transform: uppercase;
	}

	label {
		display: block;
		padding: 5px;
		cursor: pointer;
		text-transform: uppercase;
		border-bottom: 1px solid #3333;
		min-height: 38px;
	

	}

	&__title-line {
		border-bottom: 1px solid #3333;
	}

	>.row>.col:not(:last-child)	{
		border-right: 1px solid #3333;	
	}




	>.row:not(:last-child){
		border-bottom: 1px solid #3333;
	}

	input {
		display: block;
		width: 100%;
		padding: 5px;
		border: none;
		outline: none;
		font: inherit;
		position: relative;
	}


	textarea {
		display: block;
		width: 100%;
		min-height: 100px;
		border: none;
		outline: none;
		padding: 5px;
		font: inherit;
		resize: none;
	}

	p {
		padding: 5px;
	}

	.lable-row {
		 display: flex;


		label {			
			border: none;			
			white-space: nowrap;
			flex-grow: 1;
		}	

	}

	&__check-inline {
		display: 	flex;
		flex-wrap: wrap;
		 padding: 5px;
	}

	input[type="checkbox"] {
		width: 16px;
		height: 25px;
	}

	&__input-bottom-line {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		padding: 5px;

		input {
			padding: 0;
		}
	}

	&__input-underline {
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
		padding: 5px;
	}

	&__signature {
		border-bottom: 1px solid #000;
		width: 70px;
		margin-left: 10px;

	}

	&__signature--full-width {
		flex-grow: 1;
	}

	&__signature-box {
		width: 70px;
		height: 60px;
	}



	&__title-line {
		padding: 10px;
		text-align: center;
		font-weight: 700;
	}

}

.form-col {
	border-bottom: 1px solid #3333;
}

.border-none {
	border: none !important;
}

.border-right {
	border-right: 1px solid #3333;
}

.border-left {
	border-left: 1px solid #3333;
}

.border-bottom {
	border-bottom: 1px solid #3333;
}

.bg-gray {
	background-color: #e3e3e3;
}

.signature-box {
    width: 120px;
    height: 60px;
}

.notice {
	padding: 5px;
	text-transform: uppercase;
	color: red;
}

.small-text {
	font-size: 11px;
    line-height: 1.5;
}

.send-form {
	display: flex;
	margin: 0 auto;
	padding: 10px 20px;
	font-size: 16px;
	text-transform: uppercase;
	background-color: #292929;
	color: #fff;
	font-weight: 700;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 50px;
}

.flex-strech {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: stretch;
}

.red {
	border: 2px solid red !important;
}

.h70 {
	min-height: 70px !important;
}

.h95 {
	min-height: 95px !important;
}



	.form-col {
	border-bottom: 1px solid #3333;
	}

	.border-none {
		border: none !important;
	}

	.border-right {
		border-right: 1px solid #3333;
	}

	.border-left {
		border-left: 1px solid #3333;
	}

	.border-bottom {
		border-bottom: 1px solid #3333;
	}







@media print {

	body  {
		font-size: 10px;
	}

	.header {

		
			width: 100%;
			display: table;
		




		display: table;
		.col--img {
			width: 155px;
		}

		.col--title {
			width: calc(100% - 155px);
		}
	}

	.sub-header {
		display: table;
		width: 100%;
	}






	ul,
	li,
	p {
	    font-size: 13px;
	    line-height: 1.66;
	    margin-bottom: 15px;
	}

	ul, li {
		margin-bottom: 0;
		padding: 0;
	}
	




	.form {
	  display: table;         
	  width: auto;         
	  background-color: #eee;         
	  border: 1px solid #666666;         
	  border-spacing: 5px; /* cellspacing:poor IE support for  this */
	}
	.row {
	  display: table-row;
	  width: auto;
	  clear: both;
	}
	.col {
	  float: left; /* fix for  buggy browsers */
	  display: table-column;         
	  width: 200px; 
	}







	.col-1 {
		width: 8.3333%;
	}

	.col-3 {
		width: 25%;
	}

	.col-4 {
		width: 33.3333%;
	}

	.col-6 {
		width: 50%;
	}

	.col-12 {
		width: 100%;
	}
}

